<div class="element">
    @if(!Content.Equals(string.Empty))
    {
        @switch (Type)
        {
            case ContentType.Image:
                <img src=@Content />
                break;
            
            case ContentType.Text:
                <p>@Content</p>
                break;
        }
    }
</div>

@code
{
    [Parameter] public ContentType Type {get; set;}
    [Parameter] public string Content {get; set;} = string.Empty;
}