@using TriangleProject.Client.Components.PairThumbnail;
@page "/edit"

<div class="page">
    <div class="page-title">
        <h1 class="actual-title">עריכת משחק</h1>
        <div class="page-buttons">
            <button>ערוך הגדרות</button>
            <button>עבור למשחקים שלי</button>
        </div>
    </div>
    <div class="table">
        <div class="table-title">
            <h1>מאגר זוגות</h1>
        </div>
            <div class="center-stuff">
                <p class="condition-caption">תנאי לפרסום המשחק: </p>
                <p class="condition">18 זוגות</p>
                <button class="new-pair-button">+ זוג חדש</button>
            </div>
        <div class="container">
            @for (int i = 0; i < 18; i++)
            {
                <PairThumbnail></PairThumbnail>
            }
        </div>
    </div>
</div>