.page
{
    height:98.5vh;   
}

.page-title
{
    display: flex;
    color: white;
}

.actual-title
{
    margin-right: auto;
}


.page-buttons
{
    display:flex;
    margin-right: auto;
}

button
{
    background-color: orange;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 5px 5px 5px
}


.table
{
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}

.container {
    margin: 20px;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    padding: 3px;
}

.table-title
{
    background-color: rgb(120,40,200);
    display: flex;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    justify-content: center;
    align-items: center;
}

.center-stuff {
    display: flex;
    justify-content: center;
}


.condition-caption {
    display: flex;
    color: purple;
    font-size: xx-large;
}

.condition 
{
    color: black;
    font-size: xx-large;
    
}

.new-pair-button 
{
    height: 60px;
    width: 150px;
    background-color: orange;
}