@page "/ImageUpload"
@inject HttpClient Http

<h3>ImageUpload</h3>

@* את השורה הזאת יותר קל לעצב ולא את 5*@
<label for="FileInputID"> בחר תמונה </label>
@*קשה לעצב את הפקד הבא, כדי להתגבר על ז נשים אותו בהסתר*@
<InputFile id="FileInputID" OnChange="UploadFile" hidden/>
<br/>

@if(myFileImage!="")
{
	<img src="@myFileImage" width="150" />@* אם יש תוכן תציג את התמונה, את רוחב התמונה אפשר לשנות*@
    <input type="button" value="העבר למחיקה " @onclick="MakeDeleteList" />
}

@if (DeletedImages.Count > 0)
{
    <ul>
        @foreach (string img in DeletedImages)
        {

            <li>@img<img src="@img" width="50" /> </li>
        }
    </ul>

    <input type="button" value="מחק תמונות נבחרות " @onclick="DeleteImage" />
}
<p>@msg</p>

	@code {
		string myFileImage = "";
		long maxFileSize = 4194304;
        string msg;
        List<string> DeletedImages = new List<string>();

    private void MakeDeleteList()
    {
        DeletedImages.Add(myFileImage);
        myFileImage = "";
    }

    private async Task DeleteImage()
    {
        var saveResponse = await Http.PostAsJsonAsync("api/Media/deleteImages", DeletedImages);

        if (saveResponse.IsSuccessStatusCode == true)
        {
            msg = "התמונות נמחקו בהצלחה";
            DeletedImages.Clear();
        }
        else
        {
            msg = "קיימת בעיה במחיקה ";
        }
    }

    private async Task UploadFile(InputFileChangeEventArgs e)
    {
        var imageFiles = e.GetMultipleFiles();
        foreach (var file in imageFiles)
        {
            if (file.Size <= maxFileSize)
            {
                var buffer = new byte[file.Size];
                await file.OpenReadStream(maxFileSize).ReadAsync(buffer);
                var imageBase64 = Convert.ToBase64String(buffer);
                var saveResponse = await Http.PostAsJsonAsync("api/Media/upload", imageBase64);

                if (saveResponse.IsSuccessStatusCode == true)
                {
                    string resizeUrl = saveResponse.Content.ReadAsStringAsync().Result;
                    
                    myFileImage = "uploadedFiles/" + resizeUrl;
                }
            }
        }
    }
}
