@page "/PageWithAuth"
@using TriangleProject.Shared.Models.Portelem
@using TriangleProject.Shared.Models.Unity
@inject HttpClient Http
@inject NavigationManager Nav



<h3>The user ID is: @UserId</h3>

@if (user != null)
{
	<p>The Games of: @user.FirstName</p>
	<ul>
		@foreach(var game in userGames) 
		{
			<li>@game</li>
		}
	</ul>
}
@if (msg != "")
{
	<p>@msg</p>
	<input type="button" value="reload" @onclick=Navigate />
}

@code {
	[CascadingParameter]
	public int UserId { get; set; }
	PortelemUser user;
	Game[] userGames;

	string msg = "";
	void Navigate()
	{
		Nav.NavigateTo("./", true);
	}

	protected override async Task OnInitializedAsync() {
	var gamesResult = await Http.GetAsync("api/games/" + UserId);
	if (gamesResult.IsSuccessStatusCode == true)
		{
			userGames = gamesResult.Content.ReadFromJsonAsync<Game[]>().Result;
		}

		else
		{
			string error = gamesResult.Content.ReadAsStringAsync().Result;
			switch (error)
			{
				case "No Session":
					msg = "Session error, please reload page";
					break;
				case "User Not Logged In":
					msg = "You are not logged in, please reload page to try again";
					break;
				case "User Not Found":
					msg = "the user details not found, please reload page to try again";
					break;
			}
		}

	}

}
