.pair-container 
{
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    display: grid;
    height: 15vh;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    border: 1px solid black;
}

.pair-container:hover
{
    border: 3px solid black;
}