@using TriangleProject.Client.Components.PairElement;

<div class="pair-container" @onclick="OpenEditPairPopup">
    <PairElement Type=@TypeRight Content=@ContentRight></PairElement>
    <PairElement Type=@TypeLeft Content=@ContentLeft></PairElement>
</div>

@code
{
    [Parameter] public ContentType TypeLeft {get; set;}
    [Parameter] public string ContentLeft {get; set;}
    [Parameter] public ContentType TypeRight {get; set;}
    [Parameter] public string ContentRight {get; set;}

    public void OpenEditPairPopup()
    {
        Console.WriteLine("Mocking opening edit pair popup..");
    }
}